@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.App {
  text-align: center;
}

.title {
  font-family: 'Merienda One', cursive;
  color: #FDA737;
  font-size: 6rem;
  text-shadow: 2px 2px 2px #fac768;
}