:root {
  --link-color: #FDA737;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #0250c5 0%, #861da7 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-button {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.custom-button:hover {
  color: var(--link-color);
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}